<img class="login" src="../images/chat.png">
<h1>Please sign in</h1>

<fieldset class="login">
  <legend class="login">Login</legend>
  <div class="row">
    <div class="" id="username">
      <label for="Username">Username</label>
      <input [(ngModel)]="username" placeholder="Username" class="input-login" type="text" name="Username" value="" size="20" maxlength="50" />
    </div>
  </div>
  <div class="" id="password">
    <label for="Password">Password</label>
    <input [(ngModel)]="password" type="password" class="input-login" placeholder="Password" name="pwd" value="" size="20" maxlength="50">
  </div>
</fieldset>

<div class="row">
  <div class="col-12">
    <button id="button" class="grey" (click)="register()">Register</button>
    <button id="button" class="blue" (click)="login()">Login</button>
  </div>
</div>