/*
 * Stylesheet for register.html & chat.html
 *      > has to be merged with the other stylesheets
 */

 @media only screen and (max-width: 900px) {

    .box > p.max-small {
        text-align: center;
    }

    .box > p.max-small input {
        width: 94%;
    }

    .btn {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

img {
    margin: 30px auto;
    width: 25%;
    border-radius: 50%;
}
body {
    text-align: center;
}
.title {
    text-align: center;
}

.box label {
    box-sizing: border-box;
    font-family: sans-serif;
}

.box input {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
}

.box > p {
    text-align: right;
}

.legend_login {
    font-family: sans-serif;
}
.errortext {
    display: none;
    background-color:red;
}
.errortextShow {
	display: block;
    color: red;
}
input:focus {
    border-bottom-style:dashed 1em solid red;
    background-color: #AAAAAA;
}