<img src="../images/user.png">

<h1 class="title">Register yourself</h1>

<form name="myForm" id="form" action="./friends.html" onsubmit="return goOn()" method="post">
    <fieldset class="box" method="get">
        <legend class="legend_login">Register</legend>

        <p class="max-small">
            <label for="Username">Username</label>
            <input (keyup)="checkUsername()" [(ngModel)]='username' type="text" id="username" name="username" placeholder="Username">
        </p>
        <p class="max-small">
            <label for="Password">Password</label>
            <input (keyup)="checkPassword1()" [(ngModel)]='password1' type="password" id="password" name="psw" placeholder="Password">
        </p>
        <p class="max-small">
            <label for="Password">Confirm Password</label>
            <input (keyup)="checkPassword2()" [(ngModel)]='password2' type="password" id="password2" name="psw" placeholder="Repeat Password">
        </p>

    </fieldset>
    <div id="bottom_btns">
        <button class="btn" (click)="cancel()" type="button">Cancel</button>           
        <button class="btn" type="button" (click)="createAccount()" value="Submit" [disabled]="!usernameOk ||!passwordOk">Create Account</button>
    </div>
</form>