<div>
    <div>
        <h1 id="Profile_title" class="title">Profil von {{this.profileUser.username}}</h1>
        <a  routerLink="/chat">
          &lt; Back To Chat
        </a> | 
        <a href="" class="dangerous" (click)="removeFriend()">
            Remove Friend
        </a>
    </div>
    <div style="margin: 20 0 0 0;">
        <img src="../../../assets/images/profile.png" class="left"> 
        <div class="right"> 
            <p>{{this.profile.description}} </p>
            <p>Coffee or Tea ?</p>
            <p>{{this.profile.coffeeOrTea}}</p>
            <p>Name:</p>
            <p>{{this.profile.firstName}}</p>
        </div>
    </div>
</div>
