<div>
    <div>
        <h2>Profile of Tom</h2>
        <a  routerLink="/chat">
          &lt; Back To Chat
        </a> | 
        <a class="dangerous" routerLink="/friends">
            Remove Friend
        </a>
    </div>
    <div style="margin: 20 0 0 0;"> 
        <img src="../../images/profile.png" class="left"> 
        <div class="right">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
    
                <p>Coffee or Tea ?</p>
                <p>      Tea</p>
                <p>Name</p>
                <p>      Thomas</p>
        </div>
    </div>
</div>
