<div>
    <div>
        <h2 [(ngModel)]="header" name="header"></h2>
        <a  routerLink="/chat">
          &lt; Back To Chat
        </a> | 
        <a class="dangerous" (click)="removeFriend()">
            Remove Friend
        </a>
    </div>
    <div style="margin: 20 0 0 0;"> 
        <img src="../../../../images/profile.png" class="left"> 
        <div class="right">
                <p [(ngModel)]="profile.description" name="description">
                </p>
    
                <p>Coffee or Tea ?</p>
                <p>      Tea</p>
                <p>Name</p>
                <p [(ngModel)]="profileUser.username" name="username"></p>
        </div>
    </div>
</div>
