    <!--Eingabefunktion und submit mithilfe von Buttons-->
    <form>
        <h2>Profile Settings</h2>
        <fieldset title="Base Data">
            <legend>Base Data:</legend>
            <div class="align-center">
                <p>
                    <label class="fixedlabel">First Name</label>
                    <input [(ngModel)]="profile.firstName" class="fixed" name="firstName"
                        style="margin: 0 5;" placeholder="Your Name" type="text" value=""/>
                </p>
                <p>
                    <label class="fixedlabel">Last Name</label>
                    <input [(ngModel)]="profile.lastName" class="fixed" name="lastName"
                        placeholder="Your Surname" type="text" />
                </p>
                <p>Coffee or Tea
                    <select class="fixed" [(ngModel)]="profile.coffeeOrTea" name="coffeeOrTeaSelect">
                        <option [ngValue]="1" [selected]="profile.coffeeOrTea == '1'">
                        Neither Nor</option>
                        <option [ngValue]="2" [selected]="profile.coffeeOrTea == '2'">
                        Coffee</option>
                        <option [ngValue]="3" [selected]="profile.coffeeOrTea == '3'">
                        Tea</option>
                    </select>
                </p> 
            </div> 
        </fieldset>
        <fieldset style="padding: 0.7em; box-sizing: border-box;">
            <legend>Tell me Something about you:</legend>
            <textarea name="description" #about="ngModel" class="big"
                        [(ngModel)]="profile.description" row="5">
            </textarea>
        </fieldset>
        <fieldset>
            <legend>Präferenz</legend>
            <div class="beverageleft">
                <div class="block">
                    <input [value]="1" [(ngModel)]="profile.layout" type="radio" 
                    id="oneline" name="displaymethod" [checked]="profile.layout == '1'">
                    <label for="oneline"> Username and Message in one Line</label>
                </div>
                <div class="block">
                    <input [value]="2" [(ngModel)]="profile.layout" type="radio" 
                    id="sepline" name="displaymethod" [checked]="profile.layout == '2'">
                    <label for="sepline"> Username and Message in seperate Lines</label>
                </div>               
            </div>
        </fieldset>
        <div class="align-center">
            <button (click)="cancelSettings()">
                Cancel
            </button>
            <button class="blue" (click)="saveSettings()">
                Save
            </button>
        </div>
    </form>