/* Style für "gefährliche" Links die rot markiert werden sollen */
a:link.dangerous { 
    color: red;
    text-decoration: none;
  }

/* unvisited link */
a:link {
    color: blue;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color:lightblue;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }


/* Center Alignment für alle Elemente mit class="center"*/
  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
    float: left;
  }
/* Right Alignment */
  .right {
    width: 70%;
    float: right;
    box-sizing: border-box;
    border: 2px solid grey;
    padding: 10;
  }

  /* Right Alignment */
  .left {
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 0 15 0 0;
  }