<h1>Friends</h1>
<a routerLink="/logout" id="link"> &lt; Log out</a>
<span> | </span>
<a routerLink="/settings" id="link">Settings</a>

<!-- List of friends -->
<hr class="friendslist">
<ul class="friends">
    <li id="friendslist" *ngFor="let friend of friends" (click)="chatFriend(friend)"><a>{{friend.username}}<button class="msgcount">{{friend.unreadMessages}}</button></a></li>
    <li id="friendslist" *ngIf="friends.length === 0">You currently don't have any friends!</li>
</ul>

<!-- List of requests -->
<hr class="friendslist">
<h2>New Requests:</h2>
<ol>
    <li *ngFor="let req of requests" class="friendrequest">{{req.username}}
        <button (click)="acceptFriend(req)">Accept</button>
        <button (click)="declineFriend(req)">Decline</button>
    </li>
    <li *ngIf="requests.length === 0" class="friendrequest">There are currently no friend requests!</li>
</ol>

<!-- Field to add friends to list -->
<hr class="friendslist">
<form role="form" #addFriendForm="ngForm" (ngSubmit)="addFriend(addFriendForm)">
    <input class="frInsertUsername" placeholder="Add Friend to List" type="text" name="friendToAdd" [(ngModel)]="friendToAdd" required #addFriendInput="ngModel">
    <button class="sendFR" type="submit">Add</button>
</form>