<h1>Friends</h1>
<a routerLink="/logout" id="link"> &lt; Log out</a>
<span>|</span>
<a routerLink="/settings" id="link">Settings</a>

<hr class="friendslist">
<ul class="friends">
    <li id="friendslist"><a routerLink="/chat">Tom<button class="msgcount">3</button></a></li>
    <li id="friendslist"><a routerLink="/chat">Marvin<button class="msgcount">3</button></a></li>
    <li id="friendslist">Tick</li>
    <li id="friendslist">Trick</li>
</ul>

<hr class="friendslist">
<h2>New Requests:</h2>
<ol>
    <li class="friendrequest"><a href="#FRbyTrack">Friend Request from Track</a></li>
</ol>

<hr class="friendslist">
<input class="frInsertUsername" placeholder="Add Friend to List" type="text" name="Username" value="" size="20"
    maxlength="50;" list="names" onkeyup="keyup(this)" />
<datalist id="names">
    <option value="Test"></option>
</datalist>
<a href="#add">
    <!--id="link"-->
    <button class="sendFR">Add</button>
</a>