/*
 * Stylesheet for all sites in general
 * ----------
 */

 @media only screen and (max-width: 900px) {
    [class*='col-'] {
        width: 90%;
    }

    .full-screen {
        width: 100%;
    }
}

 /* General properties of the whole site
    > width of 900px moved to the middle */
body {
    background-color: #f4f4f4;
    box-sizing: border-box;
    width: 900px;
    margin: auto;
    text-align: center;
}

/* General style for the title */
.title {
    font-family: sans-serif;
    font-weight: bold;
}

/* Style for any bordered box */
.box {
    background-color: white;
    border-style: dotted;
    border-color: #bbbbbb;
    margin: 1% 1%;
}

/*
 * Buttons
 */
button.btn {
    background-color: #aaaaaa;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

button.btn:hover {
    background-color: #007bff;
}

a.btn_link {
    text-decoration: none;
}


/*
 * Stylesheet for chat.html
 *      > has to be merged at some point
 */

 #nav_header {
    font-family: sans-serif;
    font-weight: bold;
}

#nav_header > a {
    font-weight: normal;
}

/*
 * Chatbox
 */
.box {
    border-style: solid;
    border-width: 1px;
}

.box > div {
    text-align: left;
    margin: 10px 10px 10px 10px;
}

.box label {
    width: 80%;
    font-family: sans-serif;
}

.box label.timestamp {
    text-align: right;
    color: lightgray;
}

/*
 * New Message Input
 */
form > input {
    height: 36px;
    width: 80%;
}

form > button {
    width: 15%;
    min-width: 60px;
}

div > a {
    margin: auto;
}